<div class="title">
    <h1>List post</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>POST</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let post of listPost | slice:starIndex:endIndex'>
                        <td>{{post.id}}</td>
                        <td>{{post.title}}</td>
                        <td><a [routerLink]="['/post/,post.id']">ver</a></td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="listPost.length"
              [pageSize]="pageSize"
              (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>